@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-rgb: 255, 255, 255;
}

/* TODO: Light theme */
/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-rgb: 255, 255, 255;
  }
} */

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .emboss-effect::before {
    content: '';
    pointer-events: none;
    user-select: none;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    border-radius: inherit;
    padding: 1px;
    background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.07));
    mask:
      linear-gradient(black, black) content-box exclude,
      linear-gradient(black, black);
  }
}

body,
html {
  color: rgb(var(--foreground-rgb));
  min-height: 100vh;

  /* TODO: use @apply */
  /* bg-slate-950 */
  background: '#020617';
}
